/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* COMMON */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif
}
.big-cont{
    width: 70%;
    max-width: 1600px;
    margin: 0 auto;
}
.small-cont{
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}

.leftcol{
    width: 60%;

    /* debug */
    background-color: violet;
    height: 200px;
}
.rightcol{
    width: 40%;

    /* debug */
    background-color: palegreen;
    height: 200px;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
a:hover{
    cursor: pointer;
}

li{
    list-style-type: none;
}

/* utilities */
.flex{
    display: flex;
}

.flexcol{
    display: flex;
    flex-direction: column;
}
.main-algn{
    justify-content: center;
}
.crss-align{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.end{
    justify-content: end;
}
.space{
    justify-content: space-between;
}


:root{
    --azure: #B4D0E7;
    --blue: #0061FF;
    --bordeaux: #61082B;
    --header-h: 40px;
}
.button{
    background-color: var(--blue);
}

.white{
    color: white;
}
/* debug utilities */
.border{
    border: 2px solid black;
}
/* HEADER */
header{
    height: 50px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.header-col img{
    width: 100px;
    align-self: center;
    padding: 0 10px; 
}
.header-col li{
    font-size: 0.7rem;
    padding: 0 10px;
}
.header-col .button{
    margin-right: 10px;
}
.button a{
    padding: 4px;
}

/* MAIN */

/* LANDING */
.landing{
    background-color: var(--azure);
    padding-top: var(--header-h);
}
.hero{
    height: 100%;
    padding: 50px 15px 15px 20px;
}
.hero h1{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 20px;
}
.heroinfograph{
    font-size: 0.7rem;
}
.hero-l-col{
    width: 30%;
    gap: 20px;
    align-items: start;
}
.hero-l-col p{
    margin-bottom: 40px;
}
.hero-l-col .button{
    padding: 10px;
}
.hero-l-col i{
    font-size: 2rem;
    padding-top: 20px;
}
.hero-r-col{
    width: 70%;
    position: relative;
}
.hero-r-col img{
    position: absolute;
}


/* PLANS */

.billing{   
    padding-top: 150px;
}
.billing_type h2{
    padding-bottom: 20px;
}
.bill_select {
    font-size: 0.8rem;
    padding: 20px 0;
}
input[type="radio"] {
    vertical-align: middle;
    accent-color: var(--blue);
}
.radio{
    padding-right: 50px;
}

/* planstypes */
.main_plans{
    margin-bottom: 50px;
    gap: 20px;
}
.enterprise_plans{
    /* debug */
    min-height: 100px;
    background-color: blue;
}
.plan_card{
    font-size: 0.7rem;
}

/* upper */
.plan_type{
    text-align: center;
    padding: 5px;
    border: 1px solid lightgray;
    border-bottom: hidden;
}

/* central */
.plan_description{
    padding: 20px 15px;
    border: 1px solid lightgray;
    flex-grow: 1;
}
.plan_description h4{
    font-size: 1rem;
    padding-bottom: 10px;
}
.bill_time{
    color: gray;
}
.price{
    padding-bottom: 25px;
    gap: 10px;
}

/*  central-list */
.features li{
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
    position: relative;
}
/* custom icons central-list */
.features li:nth-child(1)::before{
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    padding-right: 3px;
    position: absolute;
    left: 0;
    top: 2px;
}
.features li:nth-child(2)::before{
    font-family: "Font Awesome 5 Free";
    content: "\f07b";
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}
.features li:nth-child(3)::before{
    font-family: "Font Awesome 5 Free";
    content: "\f1e0";
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}
.features #teamicon::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0c0";
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: -1px;
    top: 3px;
}

/* trynow-shopnow */
.trynow{
    margin-top: 25px;
    padding: 5px 10px; 
}
.shopnow{
    padding: 20px 0;
}
.shopnow a{
    text-decoration: underline;
    color: var(--blue);
}

/*bottom */
.plan_highlights h5{
    font-size: 0.7rem;
    padding: 20px 0;
}
.plan_highlights li{
    position: relative;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
}
/* custom-icons bottom */
.plan_highlights li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: var(--blue);
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}
/* custom hr */
.line{
    width: 20%;
    border: 0.5px solid lightgray;
}


/* DESCRIPTION-SECTION */
.disclaimer{
    /* debug */
    background-color: aqua;
    height: 50px;
}

.infocard{
    width: calc(100% / 3);
    /* debug */
    background-color: brown;
    height: 200px;
}

.discovermore{
    /* debug */
    background-color: aqua;
    height: 100px;
}

/* brand ambassadors */
.brand-card{
    width: calc(100%/3);
    aspect-ratio: 1;
    /* debug */
    background-color: chartreuse;
}

.sub-brand{
    width: calc(100% / 2);
    aspect-ratio: 1;
}

/* free-trial */
.free_trial{
    background-color: var(--azure);
}

/* debug */
.faq{
    /* debug */
    background-color: chocolate;
    height: 200px;
}
/* FOOTER */
footer{

    /* debug */
    background-color: yellowgreen;
    height: auto;
}

.links{
    width: calc(100% / 5);
    /* debug */
    height: 100px;

}

.languages{

    /* debug */
    height: 40px;
}