/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

/* COMMON */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* container and columns */
.big-cont{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;   
}
.small-cont{
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}
.leftcol{
    width: 60%;
}
.rightcol{
    width: 40%;
}

/* anchor and lists styles */
a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
a:hover{
    cursor: pointer;
}
li{
    list-style-type: none;
}

/* UTILITIES */

/* flex */
.flex{
    display: flex;
}
.flexcol{
    display: flex;
    flex-direction: column;
}
.main-algn{
    justify-content: center;
}
.crss-align{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.end{
    justify-content: end;
}
.space{
    justify-content: space-between;
}
.grow{
    flex-grow: 1;
}
.flex-start{
    align-items: flex-start;
}

/* variables */
:root{
    --azure: #B4D0E7;
    --blue: #0061FF;
    --bordeaux: #61082B;
    --header-h: 40px;
    --hoverblue: #3f87fb;
}

/* font colors and button looks */
.button{
    background-color: var(--blue);
}
.button_bottom{
    background-color: white;
}
.button:hover{
    background-color: var(--hoverblue);
}
.white{
    color: white;
}

/* padding */
.p-y-20{
    padding: 20px 0;
}
.p-x-10{
    padding: 0 10px;
}
.p-b-20{
    padding-bottom: 20px;
}

/* font-size */
.smaller_font{
    font-size: 0.7rem;
}

/* HEADER */
header{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
}
.header-col img{
    width: 100px;
    align-self: center;
}
.header-col .button{
    margin-right: 10px;
}
.button a{
    padding: 4px;
}

/* underline effect */
.underline{
    display: inline-block;
    position: relative;
}
.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 31px;
    left: 0;
    background-color:var(--blue);
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}
.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

/* MAIN */

/* LANDING-HERO */
.landing{
    background-color: var(--azure);
    padding-top: var(--header-h);
}
.hero{
    height: 100%;
    padding: 50px 15px 15px 20px;
}
.hero h1{
    font-size: 3rem;
    font-weight: 800;
}
.hero-l-col{
    width: 30%;
    gap: 20px;
    align-items: start;
}
.hero-l-col p{
    margin-bottom: 40px;
}
.hero-l-col .button{
    padding: 10px;
}
.hero-l-col i{
    font-size: 2rem;
    padding-top: 20px;
}
.hero-r-col{
    width: 70%;
    position: relative;
}
.hero-r-col img{
    position: absolute;
    max-height: 350px;
}


/* PRICES SECTION */
.billing{   
    padding-top: 120px;
}
.bill_select {
    font-size: 0.8rem;
}

/* radiobutton */
input[type="radio"] {
    vertical-align: middle;
    accent-color: var(--blue);
}
.radio{
    padding-right: 50px;
}

/* main containers */
.main_plans{
    margin-bottom: 20px;
    gap: 20px;
}
.plan_card{
    width: calc(100% / 3);
}

/* plans-upper */
.plan_type{
    text-align: center;
    padding: 5px;
    border: 1px solid lightgray;
    border-bottom: hidden;
}

/* plans-central */
.plan_description{
    padding: 20px 15px;
    border: 1px solid lightgray;
}
.plan_description h4{
    font-size: 1rem;
    padding-bottom: 10px;
}
.bill_time{
    color: gray;
}
.price{
    padding-bottom: 25px;
    gap: 10px;
}

/* plans-central_list */
.features li{
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
    position: relative;
}

/* custom icons central-list */
.features li:nth-child(1)::before{
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    padding-right: 3px;
    position: absolute;
    left: 0;
    top: 2px;
}
.features li:nth-child(2)::before{
    font-family: "Font Awesome 5 Free";
    content: "\f07b";
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}
.features li:nth-child(3)::before{
    font-family: "Font Awesome 5 Free";
    content: "\f1e0";
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}
.features #teamicon::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0c0";
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: -1px;
    top: 3px;
}

/* plans-trynow_shopnow */
.trynow{
    margin-top: 25px;
    padding: 5px 10px; 
}
.shopnow a{
    text-decoration: underline;
    color: var(--blue);
}

/* plans bottom list*/
.plan_highlights li{
    position: relative;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
}

/* pans bottom-custom-icons*/
.plan_highlights li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: var(--blue);
    font-weight: 900;
    padding-right: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}

/* plans custom hr */
.line{
    width: 20%;
    border: 0.5px solid lightgray;
}

/* ENTERPRISE PLANS */
.enterprise_plans .button{
    padding: 3px 10px;
}
.plan_description .flexcol :last-child{
    padding-top: 30px;
}
.en-l-col{
    width: 70%;
}

/* CONTACT US SECTION */
.contactus{
    margin-top: 90px;
}
.photo_adv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
}
.contact{
    padding: 25px;
}
.contact a{
    border: 1px solid black;
    padding: 10px;
}


/* FUNCTIONS-SECTION */
.description{
    margin-top: 100px;
}
.disclaimer{
    font-size: 1.3rem;
}
.infocard{
    width: calc(100% / 3 - 30px);
    margin: 15px;
}
.infocard p{
    font-size: 0.8rem;
}
.discovermore{
    margin: 100px 0;
}
.discovermore h2{
    font-size: 1.8rem;
}
.discovermore a{
    text-decoration: underline;
    color: var(--blue);
}

/* brand ambassadors */
.brand-card-l, .brand-card-r, .brand-card{
    width: calc(100%/3);
    aspect-ratio: 1 / 1;
}
.brand-card{
    padding: 40px;
    background-color: rgb(245 245 245);
    font-weight: 200;
}
.brand-card img{
    width: 50%;
}
.brand-card hr{
    width: 20%;
    border: 0.5px solid lightgray;
}
.sub-brand{
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
}
.sub-brand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    scale: 0.5;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(296deg) brightness(121%) contrast(90%);  
}

/* brand cards bg l */
.brand-card-l .sub-brand:nth-child(1){
    background-color: rgb(162 211 155);
    border: 10px solid rgb(210 233 205);
}
.brand-card-l .sub-brand:nth-child(2){
    background-color: rgb(98 9 43);
}
.brand-card-l .sub-brand:nth-child(3){
    background-color: rgb(0 147 206);
}
.brand-card-l .sub-brand:nth-child(4){
    background-color: rgb(255 27 28);
}

/* brands car bg r */
.brand-card-r .sub-brand:nth-child(1){
    background-color: rgb(213 0 32);
}
.brand-card-r .sub-brand:nth-child(2){
    background-color: rgb(180 208 231);
}
.brand-card-r .sub-brand:nth-child(3){
    background-color: rgb(13 36 129);
}
.brand-card-r .sub-brand:nth-child(4){
    background-color: rgb(255 216 48);
}

/* free-trial */
.free_trial{
    background-color: var(--azure);
    padding: 100px 0;
}
.free_trial h2{
    color: var(--bordeaux);
}
.free_trial .button_bottom{
    font-size: 0.8rem;
    padding: 10px 0;
    padding-inline: 40px;
}

/* faq */
.faq{
    padding: 80px 0;
}
.faq_title{
    padding: 20px 0;
}
.faq hr{
    margin: 15px 0;
}
.faq_text p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.faq_content{
    position: relative;
}
.chevron_up{
    position: absolute;
    right: 0;
    display: none;
}
.faq_text{
    display: none;
    transition: 5s;
}
.faq_sub_title{
    padding: 10px 0;
}
.faq_sub_title:hover + .faq_text{
    display: block;
}
.faq_sub_title:hover .chevron_up{
    display: block;
}
.faq_sub_title:hover .chevron_down{
    display: none;
}


/* FOOTER */
footer{
    background-color: black;
}
.links{
    width: calc(70% / 5);
    padding: 50px 0;
}
.links li{
    padding-bottom: 10px;
}
.various hr{
    color: white;
    width: 10%;
    border: 0.5px solid white;
}
.languages{
    gap: 5px;
    padding-bottom: 40px;
    font-size: 0.8rem;
    color: lightgray;
}
.languages span{
    font-size: 0.6rem;
}