/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
/* COMMON */
body{
    font-family: 'Open Sans', sans-serif
}
.big-cont{
    width: 65%;
    margin: 0 auto;
}
.small-cont{
    width: 50%;
    margin: 0 auto;
}

.leftcol{
    width: 60%;

    /* debug */
    background-color: violet;
    height: 200px;
}
.rightcol{
    width: 40%;

    /* debug */
    background-color: palegreen;
    height: 200px;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
a:hover{
    cursor: pointer;
}

li{
    list-style-type: none;
}

/* utilities */
.flex{
    display: flex;
}
.main-algn{
    justify-content: center;
}
.crss-align{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.end{
    justify-content: end;
}
:root{
    --azure: #B4D0E7;
    --blue: #0061FF;
    --bordeaux: #61082B;
}

.button{
    background-color: var(--blue);
    margin-right: 10px;
}
.button a{
    padding: 4px;
}
.white{
    color: white;
}
/* debug utilities */
.border{
    border: 2px solid black;
}
/* HEADER */
header{
    height: 40px;
    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.header-col{
    width: 40%;
}
.header-col img{
    width: 90px;
    align-self: center;
    padding: 0 10px; 
}
.header-col li{
    font-size: 0.6rem;
    padding: 0 10px;
}


/* MAIN */

/* landing */
.landing{
    background-color: var(--azure);

    /* debug */
    height: 400px;
}
.hero{
    background-color: red;
    height: 100%;
}

/* sub-plans */

.plans{   
    /* debug */
    min-height: 400px;
    background-color: blueviolet;
}

.billing_type{
    /* debug */
    background-color: blue;
    height: 100px;
}
.main_plans{

    /* debug */
    height: 400px;
    background-color: blue;


}
.enterprise_plans{

    /* debug */
    height: 100px;
    background-color: blue;

}

.plan_card{
    width: 100%;
    /* debug */
    height: 100%;
    background-color: lightblue;
}

/* description section */
.disclaimer{
    /* debug */
    background-color: aqua;
    height: 50px;
}

.infocard{
    width: calc(100% / 3);
    /* debug */
    background-color: brown;
    height: 200px;
}

.discovermore{
    /* debug */
    background-color: aqua;
    height: 100px;
}

/* brand ambassadors */
.brand-card{
    width: calc(100%/3);
    aspect-ratio: 1;
    /* debug */
    background-color: chartreuse;
}

.sub-brand{
    width: calc(100% / 2);
    aspect-ratio: 1;
}

/* free-trial */
.free_trial{
    background-color: var(--azure);
}

/* FOOTER */
footer{

    /* debug */
    background-color: yellowgreen;
    height: auto;
}

.links{
    width: calc(100% / 5);
    /* debug */
    height: 100px;

}

.languages{

    /* debug */
    height: 40px;
}